*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.song-list{
    display:flex;
    margin:0 -20px;
   flex-grow: row wrap;
    list-style: none;
    & > li{
        padding:0 20px;
    }
}